
============================================================
  Welcome to {game_name}
  Powered by REALM
============================================================

Enter 'connect <name> <password>' to log in
Enter 'create <name> <password>' to create a new character

